<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "index" %}">我的运维平台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="{% url "login" %}">登陆</a></li>
                <li><a href="{% url "logout" %}">退出</a></li>
                <li><a href="#contact">注册</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>





<!--<div style="height: 50px;"></div>-->
<div class="container-fluid " >
    <div class="row-fluid">
        <div class="span2 col-md-2">
            <ul class="nav nav-stacked nav-pills">
                <li class="active">
                    <a href="{% url "host_list" %}">主机管理</a>
                </li>
                <li class="active">
                    <a href="{% url "install_list" %}">系统安装</a>
                </li>
                <li class="active">
                    <a href="{% url "install_record" %}">系统安装记录</a>
                </li>
                <li><p></p></li>
                <li class="active">
                    <a href="{% url "key_list" %}">Salt认证</a>
                </li>
                <li class="active">
                    <a href="{% url "module_deploy" %}">模块管理</a>
                </li>
                <li class="active">
                    <a href="{% url "remote_execution" %}">远程管理</a>
                </li>
                <p></p>
                <li class="active">
                    <a href="{% url "remote_execution" %}">Zabbix接口集成</a>
                </li>
                <li class="active">
                    <a href="{% url "record" %}">审计记录</a>
                </li>


{#                <li class="dropdown pull-right">#}
{#                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li>#}
{#                            <a href="#">操作</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">设置栏目</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">更多设置</a>#}
{#                        </li>#}
{#                        <li class="divider">#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">分割线</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
        </div>
        <div class="span10 col-md-10">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>